ScoreCraftApi/.vs/ScoreCraftApi/DesignTimeBuild/.dtbcache.v2
ScoreCraftApi/.vs/ScoreCraftApi/v16/.suo

ScoreCraftApi/ScoreCraftApi/bin/Debug/*
ScoreCraftApi/ScoreCraftApi/bin/Release/*
ScoreCraftApi/ScoreCraftApi/obj/*
ScoreCraftApi/.vs/*
ScoreCraftApi/ScoreCraftApi/Migrations/*
