<div class="container">
    <div class="top">
      <div class="info">
        <div>{{model.matchDate | date: 'dd MMMM yyyy'}}</div>
        <div class="team-info">
          <div>
            <img class="team-logo" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Team 1 Logo" >
            <div class="team-name"> {{model.homeTeam?.teamName}}</div>
          </div>
          
          <div class="score">{{model.homeTotalWon}} - {{model.guestTotalWon}}</div>
          <div>
            <img class="team-logo" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Team 1 Logo" >
            <div class="team-name"> {{model.guestTeam?.teamName}}</div>
          </div>
         
        </div>
        <div class="bo">BO{{model.bestOf}}</div>
      </div>
    </div>
    <div class="bottom">
        
       <div class="match_history">
        <h2>Match History</h2>
        <button mat-raised-button color="primary" class="add-match-result" (click)="onAddClick()" 
        [disabled]="model.matchResults?.length == model.bestOf">Add Match Result</button>
        @for ( item of model.matchResults; track item.refMatchResult) {
            <mat-card>
                <mat-card-header>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="info">
                        <div>Game {{$index + 1}}</div>
                        <div class="result-info">
                          <div >
                            <img class="team-logo" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Team 1 Logo" >
                            <div class="team-name"> {{model.homeTeam?.teamName}}</div>
                          </div>
                          
                          <div class="score">{{item.homeResult}} - {{item.guestResult}}</div>
                          <div >
                            <img class="team-logo" src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Team 1 Logo" >
                            <div class="team-name"> {{model.guestTeam?.teamName}}</div>
                          </div>
                        </div>
                      </div>
                  </mat-card-content>
            </mat-card>
        } @empty { 
            <div class="empty">No match results</div>
        }
       </div>
    </div>
  </div>